*{
    margin:0;
    padding:0;
    border:0;
    font-family: Roboto, Helvetica, sans-serif
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    font-weight: 300;
    margin-top: 2em;
}

/*Style for a grid*/

.gridStyle{

    margin: 2em auto 0;
    display: grid;
}

.gridStyle-Clear{

    margin: 2em auto 0;
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 0;
}

.gridCell{
    border: 1px solid rgb(218, 217, 211);
}

.gridCell:hover{
    background-color: rgb(105, 96, 96);
}

/*Input styles*/

form{

    margin: auto;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

form input[type = 'text']{

    box-shadow:rgba(121, 111, 111, 0.3) 0px 5px 10px;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 5px;
    padding: 10px;
    margin-top: 2em;
}

/*Style for grid-cleaner and size buttons*/

#btn_change_size,#btn_reset{
    display: block;
    margin: 2em auto;
    padding: 20px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

#btn_change_size:hover, #btn_reset:hover{
    background-color: rgb(246, 160, 20);
    color:white;
}
